@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	min-height: 100vh;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  transition: all 0.3s ease;
  background: #FFFFFF;
  height: 100px;
  top:0;
}
.navbar.sticky{
  background: #FFFFFF;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}


.icon{
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #FFFFFF;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}


/* 6 MESES-------------------------------------------------------------------------------------------------- */
.6-meses.guia-container{
	position: absolute;
	height:100%;
	width:100%;
}

.6-meses.text-container{
	position: absolute;
	height:100%;
}

.text-conainer h1{
	text-align:center;
	font-size:1.8rem;
	font-weight:bold;
	color:#FFF845;
	padding-top:120px;
}

.text-conainer h2{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#FFF845;
	padding-top:40px;
	text-decoration: underline;
}


/* Position the image container (needed to position the left and right arrows) */
.column1 {
  float: left;
  width: 50%;
}
.left {
  width: 45%;
}

.right {
  width: 55%;
}


.column1 h3{
	text-align:justify;
	font-size:1rem;
	font-weight:normal;
	color:#EC1E1E;
	padding-top:40px;
	
}

.descripcion-container h2{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#FFF845;
	padding-top:40px;
}

.descripcion-container p{
	text-align:justify;
	font-size:1rem;
	font-weight:normal;
	color:#3D3D3B;
	padding-bottom:15px;
	padding-right:20%;
	padding-left:20%;
}

.descripcion-container h3{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#EC1E1E;
	padding-top:40px;
}

.descripcion-container img{
	width:100px;
	height:100px;
	margin-left:40%;
}

.descripcion-container ul{
	text-align: justify;
	text-justify: inter-word;
	font-size:1rem;
}

.descripcion-container ul li{
	list-style-Type: circle;
}

/* Clear floats after the columns */
.row-conainer:after {
  content: "";
  display: table;
  clear: both;
  height:100px;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}


.6-meses-container {
  position: absolute;
  height:100%;
  width:100%;

}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align:center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 50%;
  border-radius: 3px 0 0 3px;
}

@media screen and (max-width: 600px) {
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
	}
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width:100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
  text-align:right;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* PEKESTAR A -------------------------------------------------------------------------------------------------- */
.PekeStarA.PekeStarA-container{
	position: absolute;
	height:auto;
	width:100%;
}

.PekeStarA.custom14-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.PekeStarA.custom14-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom14-shape-divider-top-1637887047 .shape-fill {
    fill: #FFF845;
}

.PekeStarA.text-container2{
	position: absolute;
	height:100%;
}


.text-container2 h2{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#FFF845;
	padding-top:40px;
	text-decoration: underline;
}

.columntwo {
  float: left;
  width: 50%;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.rowtwo:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .columntwo {
    width: 100%;
  }
}
.descripcion-container2 h2{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#FFF845;
	padding-top:40px;
}

.descripcion-container2 p{
	text-align:justify;
	font-size:1rem;
	font-weight:normal;
	color:#3D3D3B;
	padding-right:20%;
	padding-left:20%;
	margin-bottom:15px;
}

.descripcion-container2 h3{
	text-align:center;
	font-size:1.4rem;
	font-weight:bold;
	color:#EC1E1E;
	padding-top:40px;
	padding-bottom:40px;
}

.descripcion-container2 img{
	width:100px;
	height:100px;
	margin-left:40%;
}


/* Hide the images by default */
.mySlides2 {
  display: none;
  text-align:center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor2 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  margin-top:80%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 50%;
  border-radius: 3px 0 0 3px;
}

@media screen and (max-width: 600px) {
  .next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
	}
}
/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container-2 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width:100%;
}

.row-2:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column-2 {
  float: left;
  width: 20%;
  text-align:right;
}
/* Add a transparency effect for thumnbail images */
.demo2 {
  opacity: 0.6;
}

.active2,
.demo2:hover {
  opacity: 1;
}

/*FOOTER-----------------------------------------------------------------------------------------------*/

.footer-container{
	position: absolute;
	height:auto;
	width:100%;
}

.custom3-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom3-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom3-shape-divider-top-1637887047 .shape-fill {
    fill:#FFF845;
}


.footer-container ul {
	list-style:none;
	font-size:18px;
	line-height:1.6;
	text-align:center;
	
}

.footer-container li {
	padding:10px 10px;
	display: inline-flex;
}

.footer-container ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-container ul a:hover {
  opacity:1;
}

.footer-container .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-container .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:5px solid #ccc;
  margin:50px 8px;
  color:inherit;
  opacity:0.75;
}

.footer-container .social > a:hover {
  opacity:0.9;
}

.footer-container .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:10px;
}
