@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	min-height: 100vh;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 15px 0;
  transition: all 0.3s ease;
  background: #FFFFFF;
  height: 100px;
}
.navbar.sticky{
  background: #FFFFFF;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}


.icon{
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #FFFFFF;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}


/* LIBROS CONTAINER ------------------------------------------------------------------------------------------------------ */

.inicio.libros-container{
	position: absolute;
	height:100%;
	width:100%;
}

.parallax {
  /* The image used */
	background-image: url("images/Libros4-1.png");
	width:100%;
  /* Set a specific height */
	min-height: 100%;
  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-container{
	position: absolute;
	top: 30%;
	left:25%;
	text-align:center;
}

#inicio h1{
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
	display:inline;
	line-height: 1.2;
	
}

#inicio h2{
	font-size:1.3rem;
	font-weight:bold;
	color:black;
	display:inline;
	line-height: 1.2;
	
}

#inicio a{
	text-decoration: none;
	background:#FFFF00;
	padding: 15px 20px;
	display: inline-block;
	color: black;
	font-size:0.8rem;
	font-weight:bold;
	border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .parallax {
  /* The image used */
	background-image: url("images/Libros_telefono.png");
	width:100%;
  /* Set a specific height */
	height: 100%;
  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	.text-container{
	position: absolute;
	top: 40%;
	left:3%;
	text-align:center;
	}
	
	.text-container h1{
	font-size:24px;
	font-weight:bold;
	color:#11194D;
	text-align:center;
	line-height: 1.5;
	}
	
	.text-container h2{
	font-size:1.1rem;
	font-weight:bold;
	color:black;
	line-height: 1.1;
	}
	
	.text-container a{
	text-decoration: none;
	background:#FFFF00;
	padding: 15px 20px;
	display: inline-block;
	color: black;
	font-size:0.8rem;
	font-weight:bold;
	margin-top:15%;
	border-radius: 30px;
	}
}

/* ELEGIR CONTAINER -------------------------------------------------------------------------------------------- */

.elegir.elegir-container{
	position: absolute;
	height:100%;
	width:100%;
}

.parallax2 {
  /* The image used */
	background-image: url("images/Libro_mitad_del_mundo4.png");
	width:100%;
  /* Set a specific height */
	height:100%;
  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.column1 {
  float: right;
  width: 50%;
}
.left {
  width: 50%;
}

.right {
  width: 50%;
}


/* Clear floats after the columns */
.row-container:after {
  content: "";
  display: table;
  clear: both;
  height:100px;
}

.elegir-text-container h1{
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
	text-align:center;
	margin-top:20%;
	margin-bottom:10%;
}

.elegir-text-container p{
	font-size:1.1rem;
	font-weight:normal;
	color:black;
	line-height: 2;
}



@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .elegir-text-container{
	font-size:1rem;
	font-weight:bold;
	color:#11194D;
	display:inline;
  }
  .elegir-text-container h1{
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
	text-align:center;
	margin-top:20%;
}
  .elegir-text-container p{
	font-size:1rem;
	font-weight:normal;
	color:black;
	line-height: 1.8;
	margin-left:0;
	margin-right:0;
	text-align:justify;
	margin-right:15%;
	margin-left:15%;
	}
	.parallax2 {
  /* The image used */
	background-image: url("images/Libro_mitad_del_mundo_instagram.png");
	width:100%;
  /* Set a specific height */
	min-height: 100%;
  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
}

/* IMPORTANCIA CONTAINER ------------------------------------------------------------------------------------------*/

.importancia.importancia-container{
	position: absolute;
	height:100%;
}

.importancia.custom-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.importancia.custom-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom-shape-divider-top-1637887047 .shape-fill {
    fill: #35C7A5;
}


.importancia.importancia-text-container{
	position: absolute;
	height:auto;
}

#importancia h1{
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
	text-align:center;
	padding-bottom:20px;
}

#importancia p{
	font-size:1.1rem;
	font-weight:normal;
	color:black;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	margin-left:10%;
	margin-right:10%;
}

#importancia h2{
	font-size:0.9rem;
	font-weight:bold;
	color:black;
	line-height: 1;
	text-align:left;
	margin-left:10%;
	padding-top:10px;
}

.progress{
	height:20px;
	margin-left:10%;
	margin-right:10%;
	background-color:#787E87;
	position: relative;
}

.progress .progress-bar{
	position: absolute;
	height: 100%;
	background-color:#1F529F;
	text-align:center;
	animation: progress-animation 5s forwards;
}

@keyframes progress-animation{
	0% {width: 0%;}
	100% {width: 80%;}
}


.importancia-bullets ul{
	text-align: justify;
	text-justify: inter-word;
	font-size:1.1rem;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:40px;

}

.importancia-bullets ul li{
	list-style-Type: none;
	padding: 0 0 4px 23px;
	background: url(https:/www.computerhope.com/cdn/arrow.png) no-repeat left center;
}

@media screen and (max-width: 600px) {
  .importancia p{
	font-size:1rem;
	font-weight:normal;
	color:black;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	margin-left:15%;
	margin-right:15%;
	}
	
	.importancia h1{
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
	text-align:center;
	padding-bottom:20px;
	}
}



/* LIBROS VENDIDOS -----------------------------------------------------------------------------------*/

.counters.libros-vendidos{
	position:absolute;
	height:100%;
	text-align:center;
}

.barra-libros{
	height:150px;
	width:100%;
	background-color:#F6D91B;
	text-align:center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 33.33%;
}

.column h3{
	font-size:1.2rem;
	font-weight:bold;
	color:black;
}

.provincias-vendidas img{
	width:100px;
	height:100px;
	position:center;
}

.instituciones-vendidas img{
	width:100px;
	height:100px;
	position:center;
}

.ninos-beneficiados img{
	width:100px;
	height:100px;
	position:center;
}

.counter {
	font-size: 1rem;
	margin: 1px 0;
}

@media screen and (max-width: 600px) {
  .column h3{
	font-size:0.85rem;
	font-weight:bold;
	color:black;
	}
	
}

/* EDADES  CONTAINER ------------------------------------------------------------------------------------------------------------*/

.edades.edades-container{
	position: absolute;
	height:100%;
}

.edades.custom2-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.edades.custom2-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom2-shape-divider-top-1637887047 .shape-fill {
    fill: #F6D91B;
}


.edades.edades-text-container{
	position: absolute;
	height:auto;
}

#edades h1{
	font-size:2rem;
	font-weight:bold;
	color:#27FDA8;
	text-align:center;
}

#edades p{
	font-size:1.1rem;
	font-weight:normal;
	color:black;
	line-height: 1.5;
	text-align: justify;
	margin-left:15%;
	margin-right:15%;
	padding-top:30px;
	padding-bottom:40px;
}

.edades-grid-row1 { 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	align-items: stretch;
	justify-items: center;
	padding-bottom: 20px;
	margin-left:5%;
	margin-right:5%;
  }
.edades-grid-row1 img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	max-width: 100%;
	cursor: pointer;
}

.edades-grid-row2 { 
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1%;
	align-items: stretch;
	justify-items: center;
	padding-bottom: 20px;
  }
.edades-grid-row2 img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	max-width: 100%;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .edades-grid-row2 img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	max-width: 70%;
	cursor: pointer;
	}
	
	.edades-grid-row2 { 
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1%;
	align-items: stretch;
	padding-bottom: 20px;
	margin-left:15%;
	}
	
}
/* TESTIMONIALES------------------------------------------------------------------------------------------------------------- */

.testimoniales.testimoniales-container{
	position: absolute;
	text-align: center;
	/*height: 400px;*/
	min-height: 100%;
}


.testimoniales-carousel {
	padding: 80px 0;
	background: url("images/testimonials-cover.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.testimoniales-carousel::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(14, 16, 17, 0.6);
}

.testimoniales-carousel .testimonial-CDI {
	text-align: center;
	color: #fff;
}

.testimoniales-carousel .testimonial-CDI .testimonial-img {
	width: 100px;
	border-radius: 50%;
	border: 6px solid rgba(255, 255, 255, 0.15);
	margin: 0 auto;
}

.testimoniales-carousel .testimonial-CDI h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #fff;
}

.testimoniales-carousel .testimonial-CDI h4 {
	font-size: 17px;
	color: #ddd;
	margin: 10px 0 15px 0;
}

.testimoniales-carousel .testimonial-CDI p {
	font-style: italic;
	font-size: 20px;
	line-height: 1.5;
	margin: 70px 10% 15px 10%;
	color: #eee;
}

	

/* FOOTER ------------------------------------------------------------------------------------------------------------------*/

.footer-container{
	position: absolute;
	height:auto;
	width:100%;
}

.custom3-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom3-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom3-shape-divider-top-1637887047 .shape-fill {
    fill:#FFFFFF;
}


.footer-container ul {
	list-style:none;
	font-size:18px;
	line-height:1.6;
	text-align:center;
	
}

.footer-container li {
	padding:10px 10px;
	display: inline-flex;
}

.footer-container ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-container ul a:hover {
  opacity:1;
}

.footer-container .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-container .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:5px solid #ccc;
  margin:50px 8px;
  color:inherit;
  opacity:0.75;
}

.footer-container .social > a:hover {
  opacity:0.9;
}

.footer-container .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:10px;
}



/*NOSOTROS -----------------------------------------------------------------*/

