@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	min-height: 100vh;
}

nav{
	position:fixed;
	background: #ffffff;
	height: 120px;
	display:flex;
	align-items: center;
	font-size: 1.1rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-container{
	display: flex;
	align-items: center;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 5px 8%;
}

.menu-img{
	width:50px;
	margin-right: 10px;
	cursor: pointer;
}

.logo{
	width:250px;
	cursor: pointer;
}

ul{
	flex: 1;
	text-align: right;
}

ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}

ul li a{
	text-decoration: none;
	color: #000000;
	
}

/*PREGUNTAS FRECUENTES -----------------------------------------------------------------------------------------------*/
.preguntas.preguntas-container{
	position: absolute;
	height:100%;
	width:100%;
}

.custom9-shape-divider-top-1637887047 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom9-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom9-shape-divider-top-1637887047 .shape-fill {
    fill: #35C7A5;
}


.preguntas.preguntas-text-container{
	position: absolute;
	height:100%;
}

#preguntas h1{
	text-align:center;
	font-size:1.8rem;
	font-weight:bold;
	color:#11194D;
}

#preguntas h2{
	text-align:left;
	margin-left:8%;
	font-size:1.4rem;
	font-weight:bold;
	color:#1E2241;
}

#preguntas p{
	position: relative;
	font-size:1.1rem;
	font-weight:normal;
	color:black;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	margin-right: 120px;
	margin-left: 120px;
}

@media screen and (max-width: 600px) {
  #preguntas p {
    position: relative;
	font-size:1.1rem;
	font-weight:normal;
	color:black;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	margin-right: 30px;
	margin-left: 30px;
  }
}

.footer-container{
	position: absolute;
	height:auto;
	width:100%;
}

.custom10-shape-divider-top-1637887047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom10-shape-divider-top-1637887047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom10-shape-divider-top-1637887047 .shape-fill {
    fill:#91DC3B;
}


.footer-container ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-container li {
  padding:10px 10px;
}

.footer-container ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-container ul a:hover {
  opacity:1;
}

.footer-container .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-container .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:5px solid #ccc;
  margin:50px 8px;
  color:inherit;
  opacity:0.75;
  padding-top:0.25%;
}

.footer-container .social > a:hover {
  opacity:0.9;
}

.footer-container .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:10px;
}